<footer>
  <div class="container">
    <p>&copy; Echo Reader</p>
    <nav>
      <a href="{{ '/contact/' | toAbsoluteUrl }}">Contact</a>
      <a href="{{ '/disclaimer/' | toAbsoluteUrl }}">Disclaimer</a>
      <a href="{{ '/privacy-policy/' | toAbsoluteUrl }}">Privacy Policy</a>
    </nav>
  </div>
</footer>
