---
permalink: /sitemap-index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc>{{ "/sitemap-page.xml" | toAbsoluteUrl }}</loc>
  </sitemap>
  <sitemap>
    <loc>{{ "/sitemap-post.xml" | toAbsoluteUrl }}</loc>
  </sitemap>
  <sitemap>
    <loc>{{ "/sitemap-category.xml" | toAbsoluteUrl }}</loc>
  </sitemap>
</sitemapindex>
