<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "EchoReader",
  "url": "https://echoreader.blog/",
  "logo": "https://echoreader.blog/assets/logo.png",
  "sameAs": [
    "https://twitter.com/echoreader",
    "https://github.com/echoreader"
  ]
}
</script>
